header {
  display:block;
  text-align: center;
  background-color: rgb(28, 69, 135);
  border:5px solid black;
  color:white;
}
.square {
  display:block;
  position:absolute;
  left:35%;
  top:15%;
  background-color: rgb(208,225,245);
  width: 30%;
  height: 20px;
  margin:20px
}
#subtitle {
  text-align:center;
}
.content {
  display:inline-block;
  position: absolute;
  bottom:85px;
  left:30%;
  top:20%;
  text-align: left;
  font-size: 20px;
  width: 40%;
  margin:20px;
}
.sidebar {
  display:inline-block;
  position: absolute;
  right:5%;
  top: 20%;
  bottom:85px;
width:246px;
}
h4 {
  font-size: 20px;
}
body {
  height:800px;
}
footer {
  display:inline-block;
  position: fixed;
  width:100%;
  bottom:0;
  height:80px;
  background-color: rgb(28, 69, 135);
  border: 5px solid black;
}